/*! -------------------- */
/*! CUSTOM PROPERTIES    */
/*! -------------------- */
:root {
    /** Fonts */
    --ff-serif: 'Noto Serif', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    --ff-sans-serif: Lato, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    --ff-mnsp: 'Roboto Mono', 'Courier New', Courier, monospace;
    
    /** Color palette */
    --clr-dark: 0, 0%, 7%;
    --clr-gray-dark: 0, 0%, 12%;
    --clr-gray-light: 0, 0%, 80%; 
    --clr-light: 0, 0%, 93%;
    
    /* purple: 292, 75%, 50%; */
    /* orange: 22, 75%, 50%; */
    /* pink: 343, 75%, 60%; */
    --clr-base: 140, 60%, 45%;      
    --clr-base-dark: 140, 55%, 20%;
    --clr-base-light: 140, 80%, 65%; 
    
    --clr-accent: 50, 60%, 58%;
    
    
    /** Code snippets colors */
    --cd-red: hsl(5, 55%, 55%);
    --cd-blue: hsl(200, 55%, 55%);
    --cd-green: hsl(var(--clr-base));
    --cd-yellow: hsl(60, 55%, 45%);
    --cd-orange: hsl(25, 55%, 55%);
    --cd-gray: hsl(0, 0%, 65%);

    /** Navbar transition durations */
    --dur1: 100ms;
    --dur2: 200ms;
    --dur3: 300ms;
    --dur4: 400ms;
    --dur5: 500ms;

}



/*! -------------------- */
/*! RESET CSS            */
/*! -------------------- */
/** Box sizing, reset margins & padding */
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/** Set up the body */
body { 
    line-height: 1.6;
    min-height: 100vh;    
    font-family: var(--ff-sans-serif);
    overflow-x: hidden;
    overflow-y: auto;

    background-color: hsl(var(--clr-gray-dark));
    color: hsl(var(--clr-gray-light));
}

/** Reset links */
a {
    text-decoration: none;
    color: hsl(var(--clr-base));
}

/** Reset list styles */
ol, ul, li {
    list-style: none;
}
 
html {
    scroll-behavior: smooth;
}


/** A11Y - Remove all animations, transitions and smooth scroll for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
     scroll-behavior: auto;
    }
    
    *, *::before, *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
} 


/*! -------------------- */
/*! UTILITY CLASSES      */
/*! -------------------- */
/** A11Y - screen reader only: only for assistive technologies which read the page out loud */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
} 

.nav-list {
    margin-top: 0;
    margin-bottom: 1em;
    padding-left: 1em;
    display: none;
}

.nav-link {
    font-size: clamp(1.15rem, 2%, 1.2rem);
    display: inline-block;
    margin: 0.4em 0 0.1em;
}


.section-contents {
    display: flex;
    flex-direction: column;
}

.list-item {
    list-style-type: circle;
    list-style-position: inside;
    margin: 0.5em 0;
}

.code-snippet {
    margin-top: 0.7em;
    margin-bottom: 1.5em;
    max-width: max-content;
    overflow-wrap: break-word;
    white-space: pre-wrap;
}

.cd-important { color: var(--cd-red);}
.cd-media { color: var(--cd-red);}
.cd-prop { color: var(--cd-blue);}
.cd-comment { color: var(--cd-gray);}
.cd-text { color: var(--cd-orange);}
.cd-tag { color: var(--cd-green);}
.cd-tag-title { color: hsl(var(--clr-base)); }
.cd-number { color: var(--cd-red);}

.table-prop-exp {
    display: block;
    width: 15ch;
    margin-top: 0.5em;
    margin-right: 1em;
    font-size: clamp(0.9rem, 0.4rem + 0.7vw, 1.1rem);
}



/*! -------------------- */
/*! TYPOGRAPHY           */
/*! -------------------- */
h1 {
    margin-top: 1.5em;
} 

h2, h3, h4 {
    margin-top: 1em;
}

h1, h2 {
    font-family: var(--ff-serif);
    color: hsl(var(--clr-base));
}

h3, h4 {
    color: hsl(var(--clr-base));
}

h1 {
    font-size: clamp(1.5rem, 1rem + 1.4vw, 2rem);
}

h2 {
    font-size: clamp(1.2rem, 0.5rem + 2vw, 1.5rem);
}

p {
    font-size: clamp(1rem, 0.5rem + 1vw, 1.15rem);
    margin-top: 0.5em;
}

ul {
    margin-top: 0.5em;
}

ul, ol, li {
    font-size: clamp(0.98rem, 0.5rem + 0.8vw, 1.1rem);
}

code {
    font-family: var(--ff-mnsp);
    font-size: clamp(0.9rem, 0.4rem + 0.6vw, 1.05rem);
}

abbr {
    text-underline-offset: 0.1em;
    color: hsl(var(--clr-accent));
}

.attn {
    color: hsl(var(--clr-accent));
}

thead {
    color: hsl(var(--clr-base));
}

/*! -------------------- */
/*! DISPLAY              */
/*! -------------------- */
/** Main grid */
body {
    display: grid;
    grid-template-areas: 
        "navbar" 
        "content"
        "footer";
    row-gap: 1.3rem;
    position: relative;
    padding: 1.5em;
}

#navbar {
    grid-area: navbar;
}

main {
    grid-area: content;
}

footer {
    grid-area: footer;
    display: flex;
    align-items: center;
}


/** <main> */
#main-doc {
    display: flex;
    flex-direction: column;
    row-gap: 2em;
    position: relative;
    border-top: px solid hsla(var(--clr-base), 0.7);
    border-bottom: px solid hsla(var(--clr-base), 0.7);
}


/** Table */
table, tr, td {
    border-collapse: collapse;
}

thead, tr {
    border-bottom: 1px solid hsla(var(--clr-base), 0.3);
}

.table-last-row {
    border-bottom: none;
}

td {
    padding: 0.5em 1em;
}


/*! -------------------- */
/*! NAV BAR              */
/*! -------------------- */
#navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: hsl(var(--clr-gray-dark));
    transform: translateY(-120%);
    width: 100%;
    padding-left: 1em;
    padding-bottom: 1em;
    z-index: 500;
    border-bottom: 2px solid hsla(var(--clr-base), 0.7);
    
}

#navbar[state="open"] {
    transform: translateY(50px);
    transition: transform var(--dur5) ease;
}

#navbar[state="closed"] {
    transform: translateY(-120%);
    transition: transform var(--dur5) ease;
}


#mobile-nav-menu {
    display: block;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    background-color: hsl(var(--clr-gray-dark));
    z-index: 600;
    padding: 1ch 2ch;

    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.btn-nav-toggle {
    aspect-ratio: 1;
    border: none;
    background-color: transparent;
    padding: 1em;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 6px;
    z-index: 500;
}

#hamburger-top[state="hamburger"],
#hamburger-middle[state="hamburger"],
#hamburger-bottom[state="hamburger"],
#hamburger-middle[state="cross"],
#hamburger-top[state="cross"],
#hamburger-bottom[state="cross"] {
    display: inline-block;
    background-color: hsl(var(--clr-base));
    color: hsl(var(--clr-base));
    width: calc(21px * 1.41);
    height: 3px;
    border-radius: 1ch;
    position: relative;
    cursor: pointer;
    position: relative;
    

    transition: 
        transform var(--dur5) ease,
        opacity var(--dur2) ease-out;
}


#hamburger-middle[state="hamburger"] {
    opacity: 1;
    transform: translateX(0);
    
}

#hamburger-middle[state="cross"] {
    opacity: 0;
    transform: translateX(100%);
}


#hamburger-top[state="hamburger"] {
    transform-origin: top right;
    transform: rotate(0);
}



#hamburger-bottom[state="hamburger"] {
    transform-origin: bottom right;
    transform: rotate(0);
}



#hamburger-top[state="cross"] {
    transform-origin: top right;
    transform: rotate(-40deg);
}

#hamburger-bottom[state="cross"] {
    transform-origin: bottom right;
    transform: rotate(40deg);
}


/* .hamburger[state="cross"] {
    display: inline-block;
    background-color: red hsl(var(--clr-base));
    color: hsl(var(--clr-base));
    width: 100%;
    height: 3px;
    border-radius: 1ch;
    position: relative;
    cursor: pointer;
    position: relative;
} */


/*! -------------------- */
/*! SECTIONAL ELEMENTS   */
/*! -------------------- */
#description {
    margin-bottom: 1em;
}



/*! -------------------- */
/*! LINK STATES          */
/*! -------------------- */
a:link {
    text-decoration: none;
    color: hsl(var(--clr-base));
}

/* a:visited {
    color: hsl(var(--clr-base-dark));
} */

a:hover {
    border-bottom: 1px solid hsl(var(--clr-base));
    filter: brightness(130%) saturate(150%);
}

a:active {
    color: hsl(var(--clr-base-light));
    border-bottom: 1px solid hsl(var(--clr-base-light));
}


/* Scroll bar */ 
body::-webkit-scrollbar {
    width: min(20px, 3.5vw);
    border-radius: 100px;
}

body::-webkit-scrollbar-track {
    border-radius: 100px;
    background-color: hsl(var(--clr-base-dark));
}

body::-webkit-scrollbar-thumb {
    background-color: hsla(var(--clr-base), 0.7);
    border-radius: 100px;
    border: 3px solid hsl(var(--clr-base-dark));
}

::-webkit-scrollbar {
    width: 15px;
    border-radius: 100px;
}

::-webkit-scrollbar-track {
    border-radius: 100px;
    background-color: hsl(var(--clr-base-dark));
}

::-webkit-scrollbar-thumb {
    background-color: hsla(var(--clr-base), 0.7);
    border-radius: 100px;
    border: 3px solid hsl(var(--clr-base-dark));
}


/*! -------------------- */
/*! MEDIA QUERIES        */
/*! -------------------- */
@media screen and (min-width: 850px) {
    /** Main grid */
    body {
        display: grid;  
        grid-template-columns: min(40ch, 30vw) auto;     
        grid-template-areas: 
            "navbar content"
            "navbar footer";
        row-gap: 1.5em;
        column-gap: 3em;
        padding-right: 2em;
    }

    #mobile-nav-menu {
        display: none;
    }

    #navbar, #navbar[state="open"], #navbar[state="closed"] {
        width: min(40ch, 30vw);
        grid-area: navbar;
        border-right: 1px solid hsla(var(--clr-base), 0.3);
        border-bottom: none;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        padding: 2em 1.5em;
        overflow-y: hidden;
        overflow-y: auto;
        transform: none;
        transition: none;
    }

    .nav-list {
        display: block;
    }

    main {
        grid-area: content;
    }

    footer {
        grid-area: footer;
    }

    #main-doc {
        border-bottom: none;
        border-top: none;
    }

    .table-prop-exp {
        width: 20ch;
    }

}

/*! -------------------- */
/*! HOVER STATES         */
/*! -------------------- */
